<section class="section--posts">
  <div class="ctr">
    <a class="btn btn-lg btn-primary create-post" href="/posts/create">create post</a>

    <h2>
      <span class="text">members posts</span>
    </h2>
    <% if (posts.length) { %>
      <ul class="posts">
        <% posts.forEach(post => { %>
          <li>
            <article class="post">
              <a href="#<%= post.id.toString() %>" id="<%= post.id.toString() %>" class="title">
                <%= post.title %>
              </a>

              <div class="author-date">
                <p class="author">
                  <% console.log( post.user.id.toString()) %>
                  <% console.log( user?.id.toString()) %>
                  <% if (adminOrMember || post.user.id.toString() === user?.id.toString()) { %>
                    @<%= post.user.username %>
                  <% } else { %>
                    @&lt;anonymous&gt;
                  <% } %>
                </p>
                <p class="date">
                  <%= `${post.createdAt.toLocaleDateString()} ${post.createdAt.toLocaleTimeString()}` %>
                </p>
              </div>

              <p class="content"><%= post.content %></p>
              <% if (user?.isAdmin) { %>
                <div class="actions">
                  <a href="<%= `/posts/${post.id.toString()}/delete` %>" class="action-btn delete">
                    <span class="material-symbols-outlined icon">delete</span>
                  </a>
                </div>
              <% } %>
            </article>
          </li>
        <% }) %>
      </ul>
    <% } else { %>
      <p class="empty-list">⚪ There are no posts</p>
    <% } %>
  </div>
</section>
